# BT4221 Group 20: Optimising Airfare Booking with Predictive Analytics

Group Members:

Gong Yongjia A0286144X

Jody Tng Jin Zi A0238195W

Wu Shuhan A0266501L

Zhou Jingchu Jeslyn A0275993H

# Data Loading & Exploration

In [ ]:
from pyspark.sql import SparkSession

# Initialize Spark Sesison
spark = SparkSession.builder.appName("FlightPrices").getOrCreate()

# Load Dataset
flight_df = spark.read.csv("/content/drive/MyDrive/BT4221/flight.csv", header=True, inferSchema=True)

# Show a sample (5 rows) of the data
flight_df.show(5, truncate=False)

# Display schema
flight_df.printSchema()

# Total Count
flight_df.count()

+--------------------------------+----------+----------+---------------+------------------+-------------+--------------+-----------+--------------+------------+---------+--------+---------+--------------+-------------------+---------------------------------+------------------------------------------------------------+-------------------------------+------------------------------------------------------------+--------------------------+----------------------------+-------------------+-------------------+------------------------------+-------------------------+----------------+-----------------+
|legId                           |searchDate|flightDate|startingAirport|destinationAirport|fareBasisCode|travelDuration|elapsedDays|isBasicEconomy|isRefundable|isNonStop|baseFare|totalFare|seatsRemaining|totalTravelDistance|segmentsDepartureTimeEpochSeconds|segmentsDepartureTimeRaw                                    |segmentsArrivalTimeEpochSeconds|segmentsArrivalTimeRaw                                      |segmentsArrivalAirportCode|segmentsDepartureAirportCode|segmentsAirlineName|segmentsAirlineCode|segmentsEquipmentDescription  |segmentsDurationInSeconds|segmentsDistance|segmentsCabinCode|
+--------------------------------+----------+----------+---------------+------------------+-------------+--------------+-----------+--------------+------------+---------+--------+---------+--------------+-------------------+---------------------------------+------------------------------------------------------------+-------------------------------+------------------------------------------------------------+--------------------------+----------------------------+-------------------+-------------------+------------------------------+-------------------------+----------------+-----------------+
|620cd51404373b9bdbbc46a0b657573c|2022-05-29|2022-06-18|LAX            |ATL               |Y0N          |PT4H19M       |0          |false         |false       |true     |943.26  |1028.61  |7             |1943               |1655591400                       |2022-06-18T15:30:00.000-07:00                               |1655606940                     |2022-06-18T22:49:00.000-04:00                               |ATL                       |LAX                         |Delta              |DL                 |Airbus A321                   |15540                    |1943            |coach            |
|8622d132e890b398c0ad1d62b0232f54|2022-05-03|2022-06-24|CLT            |LAX               |MA0OA0MQ     |PT8H10M       |0          |false         |false       |false    |479.07  |537.1    |9             |2171               |1656073800||1656086520           |2022-06-24T08:30:00.000-04:00||2022-06-24T12:02:00.000-04:00|1656078240||1656103200         |2022-06-24T09:44:00.000-04:00||2022-06-24T13:40:00.000-07:00|ATL||LAX                  |CLT||ATL                    |Delta||Delta       |DL||DL             |Boeing 717||Airbus A321       |4440||16680              |228||1943       |coach||coach     |
|6f419788769ddb3802d047272ad0a54d|2022-05-02|2022-06-30|LGA            |ATL               |LAVQA0ML     |PT11H54M      |1          |false         |false       |false    |328.38  |382.21   |9             |1700               |1656633540||1656669600           |2022-06-30T19:59:00.000-04:00||2022-07-01T06:00:00.000-04:00|1656645360||1656676380         |2022-06-30T23:16:00.000-04:00||2022-07-01T07:53:00.000-04:00|MIA||ATL                  |LGA||MIA                    |Delta||Delta       |DL||DL             |Boeing 737-800||Boeing 737-900|11820||6780              |1104||596       |coach||coach     |
|41f3cd0a63603895e13b5b77630bd84e|2022-06-10|2022-08-04|LAX            |SFO               |MH7OASMN     |PT1H20M       |0          |false         |false       |true     |189.77  |218.6    |7             |339                |1659664800                       |2022-08-04T19:00:00.000-07:00                               |1659669600                     |2022-08-04T20:20:00.000-07:00                               |SFO                       |LAX                         |Alaska Airlines    |AS                 |Embraer 175                   |4800                     |339             |coach            |
|7f5d8684b672dd3593e30ee946264c31|2022-06-24|2022-07-20|LGA            |DFW               |LAVQA0BQ     |PT6H41M       |0          |true          |false       |false    |171.16  |207.6    |9             |1487               |1658327700||1658343300           |2022-07-20T10:35:00.000-04:00||2022-07-20T14:55:00.000-04:00|1658337240||1658351760         |2022-07-20T13:14:00.000-04:00||2022-07-20T16:16:00.000-05:00|ATL||DFW                  |LGA||ATL                    |Delta||Delta       |DL||DL             |Airbus A320||Airbus A321      |9540||8460               |762||725        |coach||coach     |
+--------------------------------+----------+----------+---------------+------------------+-------------+--------------+-----------+--------------+------------+---------+--------+---------+--------------+-------------------+---------------------------------+------------------------------------------------------------+-------------------------------+------------------------------------------------------------+--------------------------+----------------------------+-------------------+-------------------+------------------------------+-------------------------+----------------+-----------------+
only showing top 5 rows

root
 |-- legId: string (nullable = true)
 |-- searchDate: date (nullable = true)
 |-- flightDate: date (nullable = true)
 |-- startingAirport: string (nullable = true)
 |-- destinationAirport: string (nullable = true)
 |-- fareBasisCode: string (nullable = true)
 |-- travelDuration: string (nullable = true)
 |-- elapsedDays: integer (nullable = true)
 |-- isBasicEconomy: boolean (nullable = true)
 |-- isRefundable: boolean (nullable = true)
 |-- isNonStop: boolean (nullable = true)
 |-- baseFare: double (nullable = true)
 |-- totalFare: double (nullable = true)
 |-- seatsRemaining: integer (nullable = true)
 |-- totalTravelDistance: integer (nullable = true)
 |-- segmentsDepartureTimeEpochSeconds: string (nullable = true)
 |-- segmentsDepartureTimeRaw: string (nullable = true)
 |-- segmentsArrivalTimeEpochSeconds: string (nullable = true)
 |-- segmentsArrivalTimeRaw: string (nullable = true)
 |-- segmentsArrivalAirportCode: string (nullable = true)
 |-- segmentsDepartureAirportCode: string (nullable = true)
 |-- segmentsAirlineName: string (nullable = true)
 |-- segmentsAirlineCode: string (nullable = true)
 |-- segmentsEquipmentDescription: string (nullable = true)
 |-- segmentsDurationInSeconds: string (nullable = true)
 |-- segmentsDistance: string (nullable = true)
 |-- segmentsCabinCode: string (nullable = true)

2000000

# Data Cleaning & Pre-processing

In [ ]:
from pyspark.sql.functions import col, sum, isnan
from pyspark.sql.types import NumericType

# Build expressions to count missing values (null and NaN for numeric columns; null only otherwise)
missing_exprs = []
for field in flight_df.schema.fields:
    if isinstance(field.dataType, NumericType):
        # For numeric columns, count both nulls and NaNs
        expr = sum((col(field.name).isNull() | isnan(col(field.name))).cast("int")).alias(field.name)
    else:
        # For non-numeric columns, count only nulls
        expr = sum(col(field.name).isNull().cast("int")).alias(field.name)
    missing_exprs.append(expr)

# Compute missing values count per column
missing_counts = flight_df.select(*missing_exprs)
missing_counts.show()

+-----+----------+----------+---------------+------------------+-------------+--------------+-----------+--------------+------------+---------+--------+---------+--------------+-------------------+---------------------------------+------------------------+-------------------------------+----------------------+--------------------------+----------------------------+-------------------+-------------------+----------------------------+-------------------------+----------------+-----------------+
|legId|searchDate|flightDate|startingAirport|destinationAirport|fareBasisCode|travelDuration|elapsedDays|isBasicEconomy|isRefundable|isNonStop|baseFare|totalFare|seatsRemaining|totalTravelDistance|segmentsDepartureTimeEpochSeconds|segmentsDepartureTimeRaw|segmentsArrivalTimeEpochSeconds|segmentsArrivalTimeRaw|segmentsArrivalAirportCode|segmentsDepartureAirportCode|segmentsAirlineName|segmentsAirlineCode|segmentsEquipmentDescription|segmentsDurationInSeconds|segmentsDistance|segmentsCabinCode|
+-----+----------+----------+---------------+------------------+-------------+--------------+-----------+--------------+------------+---------+--------+---------+--------------+-------------------+---------------------------------+------------------------+-------------------------------+----------------------+--------------------------+----------------------------+-------------------+-------------------+----------------------------+-------------------------+----------------+-----------------+
|    0|         0|         0|              0|                 0|            0|             0|          0|             0|           0|        0|       0|        0|             0|             155156|                                0|                       0|                              0|                     0|                         0|                           0|                  0|                  0|                       39914|                        0|               0|                0|
+-----+----------+----------+---------------+------------------+-------------+--------------+-----------+--------------+------------+---------+--------+---------+--------------+-------------------+---------------------------------+------------------------+-------------------------------+----------------------+--------------------------+----------------------------+-------------------+-------------------+----------------------------+-------------------------+----------------+-----------------+

In [ ]:
# Remove rows with null values

# clean_flight_data = flight_df.dropna(subset = )


# Drop duplicates
flight_df = flight_df.dropDuplicates()

# Final Count
flight_df.count()

2000000